@use '../abstract/color' as *;
@use '../nav/nav1';
.contact-con{
    width: 100%;
    height: 95vh;
    overflow: hidden;
}
.contact-svg{
    width:4000px;
    top: -100%;
    right: 40%;
    position: relative;
    transform: rotate(55deg);
    animation: img 0.4s ease-in-out  1 forwards ;
  
}
@keyframes img {
    100%{
        width: 1200px;
        top: -45%;
        right: -50%;
    }
}
.form{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    column-gap: 200px;
    position: absolute;
    display: flex;
    padding: 0 40px;
}
.contact-img1{
    transform: scale(0);
    width: 600px;
    animation: svg 0.4s ease-in-out 0.4s 1 forwards ;
    display: none;
    
}
.contact-img2{
    transform: scale(0);
    width: 600px;
    animation: svg 0.4s ease-in-out 0.4s 1 forwards ;
    
}
@keyframes svg {
    100%{
        transform: scale(1);
    }
}
form{
    transform: scale(0);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 400px;
    border-radius: 20px;
    padding: 30px 30px;
    box-shadow: $white-shadow;
    animation: svg 0.4s ease-in-out 0.4s 1 forwards ;
    input{
        padding: 15px 20px;
        border: 1px solid #2F2E41;
        outline: none;
        font-family: $primary-text;
        font-size: 1.2rem;
        border-radius: 10px;
        filter: blur(8px);
        animation: blur 0.4s ease-in-out 0.8s 1 forwards ;
    }
    @keyframes blur {
        100%{
            filter: blur(0);
        }
    }
    textarea{
        
        outline: none;
        padding: 15px 20px;
        font-family: $primary-text;
        font-size: 1.2rem;
        border: 1px solid #2F2E41;
        border-radius: 10px;
        filter: blur(8px);
        animation: blur 0.4s ease-in-out 0.8s 1 forwards ;
    }
    button{
        padding: 20px;
        border: none;
        background-color: #2F2E41;
        font-family: $primary-text;
        font-weight: 900;
        color: #fff;
        border-radius: 10px;
        font-size: 0.9rem;
        filter: blur(8px);
        animation: blur 0.4s ease-in-out 0.8s 1 forwards ;
    }
}
.contact-info{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    &-con{
        width:80%;
        background-color: #3e3d56;
        border-radius: 20px;
        border: 5px solid rgb(40, 39, 39);
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0;
        font-size: 1.2rem;
        font-family: $primary-text;
        font-weight: 500;
        color:rgb(211, 211, 211);
        cursor: pointer;
    }
    &-con:hover{
        color: #fff;
    }
    &-items{
        display: flex;
        justify-content: center;
        align-items: start;
        column-gap: 20px;
        flex-direction: column  ;
    }
   .address-svg{
        width: 40px;
        height: 40px;
        fill: rgb(211, 211, 211);
   }
   .address-svg:hover{
        fill: #ffffff;
   }
}
@media (max-width:1500px) {
    .contact-info{
        &-con{
            width: 95%;
        }
    }
}
@media (max-width:1200px) {
    .form{
        column-gap: 20px;
    }
    @keyframes img {
        100%{
            width: 1200px;
            top: -45%;
            right: -35%;
        }
    }
   
}
@media (max-width:900px) {
    .contact-con{
        height: 120vh;
    }
    .form{
        row-gap: 20px;
        flex-direction: column;
    }
  .contact-img2{
    display: none;
  }
  .contact-img1{
    display: block;
    margin-top: 300px;
  }
  .contact-info{
    margin-top: 100px;
    &-con{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        row-gap: 20px;
    }
    &-items{
        display: flex;
        justify-content: start;
        align-items:center;
        column-gap: 20px;
        flex-direction: row  ;
    }
  }
}
@media (max-width:700px) {
   
  .contact-img1{
    display: block;
    width: 95%;
  }
  @keyframes img {
    100%{
        width: 1200px;
        top: -55%;
        right: -20%;
    }
}
}
@media (max-width:600px) {
    .contact-con{
        height: 110vh;
    }
    .contact-img1{
        display: block;
        width: 95%;
      }
    form{
        width: 100%;
      }
      
      .contact-info{
        
        &-con{
           font-size: 0.8rem;
        }
        .address-svg{
            width: 30px;
            height: 30px;
       }
    }
    @keyframes img {
        100%{
            width: 1200px;
            top: -65%;
            right: -10%;
        }
    }
}
@media (max-width:450px) {
    .contact-img1{
        display: block;
        margin-top: 200px;
        width: 95%;
      }
      .form{
        padding: 0 20px;
      }
    form{
        width: 100%;
        
      }
      
      .contact-info{
        margin-top: 100px;
        &-con{
           font-size: 0.8rem;
        }
        .address-svg{
            width: 30px;
            height: 30px;
       }
    }
    @keyframes img {
        100%{
            width: 1200px;
            top: -75%;
            right: -5%;
            transform: rotate(90deg);
        }
    }
    
}