$theme-colors:(
    "primary":#2C3167,
    "gold":#131210,
    "light":grey,
    "text1":#000000,
);
$bc-colors:(
    "model1":#ffffff,
);
$drop-color:linear-gradient(90deg, #001F4E 4%, rgba(25,116,173,1) 100%);
$primary-text-color:#001F4D;
$primary-nav-color:#001f4e;
$primary-text-color-hover:#fb8c00;
$primary-gray: #efefef;
$primary-gray1:#757575;
$primary-light:#adbace;
$primary-text1:#5C6BC0;
$primary-text2:#9ccc65;
$primary-text3:#ab47bc;
$primary-text:'Belanosima', sans-serif;
$content-text:'Ubuntu', sans-serif;
$insta-color:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
$placement-round:#7cb342;
$form-blue:rgb(7, 7, 85);
$form-green:#388e3c;
$form-yellow:#90A4AE;
$white-shadow:10px 10px 20px rgb(229, 228, 228),
-10px -10px 20px rgb(229, 228, 228);