
@use "../abstract/color" as *;
@mixin drop{
    display: none;
    position: absolute;
    background: $drop-color;
    opacity: 0.9;
    border-radius: 5px;
    z-index: 999;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    left: 0;
    padding: 0 10px 0 10px;
}

@mixin head-text{
    font-size: 30px;
    font-family: $primary-text;
    font-weight: 700;
    color:$primary-text-color-hover;
    text-align: center;
}

