@use '../abstract/color' as *;
.members-con{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 150px;
    margin-top: 50px;
   
    &1{
        width: 400px;
        height: 500px;
        box-shadow: $white-shadow;
        border-radius: 10px;
    }
    &-svg{
        width: 500px;
    }
}
