@use '../abstract/color' as *;
.members-con{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 150px;
    margin-top: 50px;
    position: relative;
    @mixin round{
        width: 20px;
        height: 20px;
        position: absolute;
        border-radius: 30%;
        animation: rotate 5s linear  infinite  ;
        @keyframes rotate {
            100%{
                transform: rotate(360deg)
            }
        }
    }
   .round1{
        @include round;
        top: 0;
        left: 10%;
   }
   .round2{
        @include round;
        bottom: 0;
        left: 50%;
        border:3px solid blue;
  
   }
   .round3{
        @include round;
        top: 10%;
        left: 90%;
        border:3px solid chartreuse;
   }
   .hexagon1{
        @include round;
        top: 30%;
        left: 20%;
    }
   .hexagon2{
        @include round;
        top: 60%;
        left: 80%;
    }
   .heart1{
        @include round;
        top: 100%;
        left: 2%;
    }
    .heart2{
        @include round;
        top: 5%;
        left: 50%;
    }
    .star1{
        @include round;
        top: 100%;
        left: 97%;
    }
    .music{
        @include round;
        top: 85%;
        left: 18%;
    }
    .play{
        @include round;
        bottom: 0;
        left: 50%;
    }
    &1{
        width: 400px;
        min-height: 500px;
        box-shadow: $white-shadow;
        border-radius: 10px;
        padding: 30px 20px;
        text-align: start;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        font-family: $primary-text;
    }
    &-svg{
        width: 500px;
        animation: jump 1s ease  infinite alternate ;
    }
    @keyframes jump {
        100%{
            transform: translateY(-25px);
        }
    }
    &-svg-1{
        display: none;
    }
    .mem-head{
        color: $primary-text-color;
        font-size: 1.5rem;
        font-weight: 900;
    }
    .mem-con{
        color: gray;
        font-size: 1.1rem;
        line-height: 40px;
    }
    .mem-con1{
        text-indent: 70px;
        color: gray;
        font-size: 1.1rem;
        line-height: 40px;
    }
    .mem-btn{
        display: flex;
        justify-content: center;
        align-items: center;    
        font-size: 3rem;
        .mem-button{
            background-color: #ECF9F0;
            width: 70px;
            border-radius: 50%;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: gray;
            cursor: pointer;
        }
        .mem-button:hover{
            color: #3e3d3d;
        }
    }
    
}
@media (max-width:1200px) {
    .members-con{
        column-gap: 20px;
        &-svg{
            width: 400px;
        }
        &1{
            width: 350px;
            min-height: 450px;
        }
    }
  
}
@media (max-width:800px) {
    .members-con{
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        &-svg-1{
            display: block;
        }
        &-svg-2{
            display: none;
        }
    }
  
}
@media (max-width:500px) {
    .members-con{
        &1, &-svg{
            width: 95%;
        }
    }
  
}