@use '../abstract/color' as *;
@use '../home/homeAnim';
.home-main{
    position: absolute;
    top: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 100px;
    
   &-con{
    display: flex;
    flex-direction: column;
    
    
   }
    .le-ld{
        font-size: 12rem;
        color: $primary-text-color-hover;
        display: flex;
        justify-content: center;
        &-con{
            margin-top: 40px;
        }
        &-text1{
            font-size: 4rem;
            color: $primary-text-color
        }
        &-text2{
            @extend .le-ld-text1;
        }
        @media (max-width:1300px) {
           &-text1{
            font-size: 3rem;
           }
    
        }
        
        @media (max-width:1100px) {
           &-text1{
            font-size: 1.8rem;
           }
           
        }
        
    }
    &-svg{
        width: 40%;
        margin-top: 20px;
    }
    @media (max-width:1300px) {
        .le-ld{
            font-size: 9.5rem;
           }
           &-svg{
            width: 40%;
            margin-top: 20px;
        }
    }
    @media (max-width:1200px) {
        .le-ld{
            font-size: 7rem;
           }
    }
    @media (max-width:1100px) {
        &-svg{
            width: 70%;
        }
        .le-ld{
            font-size: 10rem;
            &-con{
                margin-top: 40px;
            }
            &-text1{
                font-size: 3rem;
                color: $primary-text-color
            }
           }
        
    }
    @media (max-width:900px) {
        &-svg{
            width: 90%;
        }
        
    }
    @media (max-width:550px) {
        &-svg{
            width: 90%;
        }
        .le-ld{
            font-size: 7rem;
            &-con{
                margin-top: 40px;
            }
            &-text1{
                font-size: 1.8rem;
                color: $primary-text-color
            }
           }
        
    }
}

.up-text{
    font-size: 2rem;
    font-weight:700 ;
    color: $primary-text-color-hover;
    margin-top: 10px;
}
.webinar-text-con{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.webinar-text{
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 10px;
    background-color:whitesmoke;
    padding: 20px 10px;
    &-date{
        width: 30%;
        font-size: 2rem;
        font-weight: 700;
        color: $primary-text-color;

        text-align: center ;
    }
    &-event{
        font-size: 1.3rem;
       
        a{
            color: $primary-text-color;
            font-family: $primary-text;
            font-weight: 500;
        }
      
    }
    @media (max-width:1100px) {
      &-date{
        font-size: 1.2rem;
      }
      &-event{
        font-size:0.8rem ;
      }
     }

}


@media (max-width:1300px) {
    .home-main{
       column-gap: 10px;
      }
}
@media (max-width:1100px) {
 .home-main{
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 20px;
   top: 8vh;
 }
 .webinar-text{
    width: 80%;
   }
 .up-text{
    font-size: 2rem;
    text-align: center;
   }
 .webinar-text{
    &-event{
        a{
            font-size: 1.2rem;
        }
    }
}   
}
@media (max-width:600px) {
 .webinar-text{
    width: 90%;
   } 
   .up-text{
    font-size: 1.3rem;
    text-align: center;
   } 
   .webinar-text{
    &-event{
        a{
            font-size: 0.7rem;
        }
    }
}  
}
@media (max-width:450px) {
    .webinar-text{
        width: 90%;
       }
       .home-main-con{
        width: 95%;
       }
}