@use "../abstract/color" as*;
.commitee-text{
  font-size: 2.5rem;
  color: $form-blue;
  margin-top: 150px;
  text-align: center;
  font-weight: 900;
}
.program-cards-con-2 {
    display: grid;
    grid-template-columns: repeat(4, 320px);
    column-gap: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    row-gap: 40px;
    
    
  }
  
  .program-cards-2 {
    width: 320px;
    min-height: 415px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(211, 208, 208);
    display: flex;
    flex-direction: column;
    background-color: rgba(21, 162, 5, 0.069);
    cursor: pointer;
    transition: transform 0.3s ease;
    .p-c-img-2{
        width: 100%;
        height: 170px;
        justify-content: center;
        align-items: center;
        display: flex;
       
        .explore-images-2{
            width:150px;
            height: 150px;
            border-radius: 50%;
            border: 3px solid gray;
         
        }
       
    }
  
    .program-line-2{
        width: 100%;
        height: 2px;
        background-color:  rgb(41, 201, 24);
    }
    .p-c-info-2{
        padding: 20px 10px;
        .info-head-2{
            font-family: 'Belanosima', sans-serif;
            font-weight: 600;
            font-size: 22px;
            color: $primary-text-color;
        }
        .info-content-2{
            font-family: 'Ubuntu', sans-serif;
            color: gray;
            margin-top: 10px;
            font-size: 14px;
            width: 100%;
            padding-right: 10px;
            line-height: 25px;
        }
        .info-content-1{
          @extend .info-content-2;
          color: $primary-text-color-hover;
        }
        .info-content-3{
            @extend .info-content-2;
            color: #1e88e5;
        }
    }
  }
  .program-cards-2:hover{
    border: 1px solid rgb(41, 201, 24);
  }

 
  
  @media (max-width: 360px) {
    .program-cards-2 {
      width: 95%;
    }
  }
  
  @media (max-width: 1550px) {
    .program-cards-con-2 {
      grid-template-columns: repeat(3, 320px);
    }
   
  }
  
  @media (max-width: 1150px) {
    .program-cards-con-2 {
      grid-template-columns: repeat(2, 320px);
    }
    .program-cards-2:nth-child(4) {
      margin-left: 0px;
    }
  }
  
  @media (max-width: 800px) {
    .program-cards-con-2 {
      grid-template-columns: repeat(1, 350px);
    }
    .program-cards-2 {
      width: 100%;
    }
  }

  @media (max-width: 500px) {
    .program-cards-con-2 {
      grid-template-columns: repeat(1, 0.9fr);
    }
    .program-cards-2 {
      height: 100%;
    }
  }
  