@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  max-width: 100%;
}

.header-img {
  height: 70px;
}

.iete-obb {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 300px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 10px;
  z-index: 9999;
}

.traiangle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top: 1px solid white;
  border-right: 1px solid gray;
  right: 10%;
  bottom: -43%;
  overflow: hidden;
  box-sizing: content-box;
}

.traiangle1 {
  position: absolute;
  width: 200%;
  height: 200%;
  background-color: white;
  left: 41%;
  bottom: 0;
  transform: rotate(45deg);
  border: 1px solid gray;
  border-left: none;
}

.home-svg {
  margin-top: 80px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: transparent;
  opacity: 1;
  padding: 5px 20px 0px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
}

.toggle-btn {
  fill: #001F4D;
}

.navbar.hide {
  top: -100px;
  opacity: 0;
  background-color: #fff;
}

.navbar.top {
  background-color: #fff;
}

.navbar nav ul {
  list-style-type: none;
}

.navbar nav ul li {
  position: relative;
  float: left;
}

.navbar nav ul li a {
  padding: 10px 15px;
  display: block;
  color: rgb(13, 12, 12);
  font-family: "Belanosima", sans-serif;
  font-weight: 700;
  font-size: 18px;
  border-bottom: 1px solid transparent;
  border-radius: 30px;
  text-transform: capitalize;
}

.navbar nav ul li ul {
  display: none;
  position: absolute;
  background: #001F4D;
  border-radius: 10px;
  z-index: 999;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  left: 0;
  padding: 0 10px;
  width: 150px;
  border-radius: 10px;
}

.navbar nav ul li ul li {
  width: 100%;
}

.navbar nav ul li ul li a {
  color: #fff;
}

.navbar nav ul li:focus-within > ul,
.navbar nav ul li:hover > ul {
  display: initial;
}

#menu-bar {
  display: none;
}

.navbar label {
  font-size: 30px;
  cursor: pointer;
  color: #eee;
  display: none;
}

@media (max-width: 1050px) {
  .navbar {
    padding: 20px;
  }
  #nav {
    display: none;
  }
  .navbar label {
    display: initial;
  }
  .navbar nav {
    position: fixed;
    width: 100%;
    background: white;
    min-height: 100vh;
    top: 100px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .navbar nav ul li {
    width: 100%;
    padding: 5px 0;
  }
  .navbar nav ul li a {
    color: black;
  }
  .navbar nav ul li ul {
    position: relative;
    width: 100%;
  }
  .navbar nav ul li ul li {
    background: #fff;
  }
  .navbar nav ul li ul li a {
    background: #fff;
    color: #012a68;
  }
  .navbar nav ul li ul li ul {
    left: 0;
    width: 100%;
  }
  #menu-bar:checked ~ nav {
    display: initial;
    left: 0;
  }
  .navbar nav ul li ul li .Comitee {
    left: 0;
    width: 200px;
  }
}
@media (max-width: 800px) {
  .header-img {
    height: 50px;
  }
}
@media (max-width: 600px) {
  .header-img {
    height: 40px;
  }
}
@media (max-width: 480px) {
  .navbar nav {
    background-repeat: no-repeat;
    background-size: 450px;
  }
  .navbar nav ul li ul li {
    background: none;
  }
  .navbar nav ul li a:hover {
    border-bottom: none;
  }
  .navbar nav ul li ul li {
    border-top: none;
  }
  .build-img {
    height: 40px;
  }
}
@media (max-width: 300px) {
  .build-img {
    height: 30px;
  }
  .navbar nav {
    top: 60px;
  }
}
.contact-con {
  width: 100%;
  height: 95vh;
  overflow: hidden;
}

.contact-svg {
  width: 4000px;
  top: -100%;
  right: 40%;
  position: relative;
  transform: rotate(55deg);
  animation: img 0.4s ease-in-out 1 forwards;
}

@keyframes img {
  100% {
    width: 1200px;
    top: -45%;
    right: -50%;
  }
}
.form {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  -moz-column-gap: 200px;
       column-gap: 200px;
  position: absolute;
  display: flex;
  padding: 0 40px;
}

.contact-img1 {
  transform: scale(0);
  width: 600px;
  animation: svg 0.4s ease-in-out 0.4s 1 forwards;
  display: none;
}

.contact-img2 {
  transform: scale(0);
  width: 600px;
  animation: svg 0.4s ease-in-out 0.4s 1 forwards;
}

@keyframes svg {
  100% {
    transform: scale(1);
  }
}
form {
  transform: scale(0);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 400px;
  border-radius: 20px;
  padding: 30px 30px;
  box-shadow: 10px 10px 20px rgb(229, 228, 228), -10px -10px 20px rgb(229, 228, 228);
  animation: svg 0.4s ease-in-out 0.4s 1 forwards;
}
form input {
  padding: 15px 20px;
  border: 1px solid #2F2E41;
  outline: none;
  font-family: "Belanosima", sans-serif;
  font-size: 1.2rem;
  border-radius: 10px;
  filter: blur(8px);
  animation: blur 0.4s ease-in-out 0.8s 1 forwards;
}
@keyframes blur {
  100% {
    filter: blur(0);
  }
}
form textarea {
  outline: none;
  padding: 15px 20px;
  font-family: "Belanosima", sans-serif;
  font-size: 1.2rem;
  border: 1px solid #2F2E41;
  border-radius: 10px;
  filter: blur(8px);
  animation: blur 0.4s ease-in-out 0.8s 1 forwards;
}
form button {
  padding: 20px;
  border: none;
  background-color: #2F2E41;
  font-family: "Belanosima", sans-serif;
  font-weight: 900;
  color: #fff;
  border-radius: 10px;
  font-size: 0.9rem;
  filter: blur(8px);
  animation: blur 0.4s ease-in-out 0.8s 1 forwards;
}

.contact-info {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.contact-info-con {
  width: 80%;
  background-color: #3e3d56;
  border-radius: 20px;
  border: 5px solid rgb(40, 39, 39);
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  font-size: 1.2rem;
  font-family: "Belanosima", sans-serif;
  font-weight: 500;
  color: rgb(211, 211, 211);
  cursor: pointer;
}
.contact-info-con:hover {
  color: #fff;
}
.contact-info-items {
  display: flex;
  justify-content: center;
  align-items: start;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex-direction: column;
}
.contact-info .address-svg {
  width: 40px;
  height: 40px;
  fill: rgb(211, 211, 211);
}
.contact-info .address-svg:hover {
  fill: #ffffff;
}

@media (max-width: 1500px) {
  .contact-info-con {
    width: 95%;
  }
}
@media (max-width: 1200px) {
  .form {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  @keyframes img {
    100% {
      width: 1200px;
      top: -45%;
      right: -35%;
    }
  }
}
@media (max-width: 900px) {
  .contact-con {
    height: 120vh;
  }
  .form {
    row-gap: 20px;
    flex-direction: column;
  }
  .contact-img2 {
    display: none;
  }
  .contact-img1 {
    display: block;
    margin-top: 300px;
  }
  .contact-info {
    margin-top: 100px;
  }
  .contact-info-con {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
  .contact-info-items {
    display: flex;
    justify-content: start;
    align-items: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
    flex-direction: row;
  }
}
@media (max-width: 700px) {
  .contact-img1 {
    display: block;
    width: 95%;
  }
  @keyframes img {
    100% {
      width: 1200px;
      top: -55%;
      right: -20%;
    }
  }
}
@media (max-width: 600px) {
  .contact-con {
    height: 110vh;
  }
  .contact-img1 {
    display: block;
    width: 95%;
  }
  form {
    width: 100%;
  }
  .contact-info-con {
    font-size: 0.8rem;
  }
  .contact-info .address-svg {
    width: 30px;
    height: 30px;
  }
  @keyframes img {
    100% {
      width: 1200px;
      top: -65%;
      right: -10%;
    }
  }
}
@media (max-width: 450px) {
  .contact-img1 {
    display: block;
    margin-top: 200px;
    width: 95%;
  }
  .form {
    padding: 0 20px;
  }
  form {
    width: 100%;
  }
  .contact-info {
    margin-top: 100px;
  }
  .contact-info-con {
    font-size: 0.8rem;
  }
  .contact-info .address-svg {
    width: 30px;
    height: 30px;
  }
  @keyframes img {
    100% {
      width: 1200px;
      top: -75%;
      right: -5%;
      transform: rotate(90deg);
    }
  }
}/*# sourceMappingURL=contact.css.map */