.Event-con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Event-con1 {
  margin-top: 150px;
  width: 70%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 20px rgb(229, 228, 228), -10px -10px 20px rgb(229, 228, 228);
  padding: 40px 60px;
  border-radius: 10px;
}

.Event-con1-text {
  color: rgb(7, 7, 85);
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Belanosima", sans-serif;
  text-align: center;
}

.Event-con1-text:nth-child(1) {
  color: #fb8c00;
  font-size: 1.5rem;
  font-weight: 900;
}

.Event-con1-text:nth-child(2) {
  color: gray;
  font-size: 1.2rem;
  font-weight: 400;
}

.event-btn {
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  background: rgb(9, 9, 106);
  background: linear-gradient(117deg, rgb(9, 9, 106) 82%, rgb(13, 13, 184) 100%);
  color: #fff;
  font-weight: 900;
  cursor: pointer;
}
.event-btn:hover {
  background: rgb(13, 13, 184);
  background: linear-gradient(117deg, rgb(13, 13, 184) 0%, rgb(9, 9, 106) 19%);
  color: #edebeb;
}
.event-btn a {
  color: #fff;
  font-size: 0.8rem;
  font-family: "Belanosima", sans-serif;
}

@media (max-width: 1400px) {
  .Event-con1 {
    width: 85%;
  }
}
@media (max-width: 1200px) {
  .Event-con1 {
    width: 95%;
    margin-top: 120px;
  }
}
@media (max-width: 700px) {
  .Event-con1 {
    row-gap: 15px;
  }
  .Event-con1-text {
    font-size: 0.8rem;
  }
  .Event-con1-text:nth-child(1) {
    font-size: 1.2rem;
  }
  .Event-con1-text:nth-child(2) {
    font-size: 0.8rem;
  }
}
@media (max-width: 600px) {
  .Event-con1 {
    margin-top: 80px;
  }
}
.event2-con {
  width: 100%;
  display: flex;
  justify-content: center;
}

.event2-con1 {
  margin-top: 50px;
  width: 70%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 20px rgb(229, 228, 228), -10px -10px 20px rgb(229, 228, 228);
  padding: 40px 60px;
  border-radius: 10px;
  font-family: "Belanosima", sans-serif;
}
.event2-con1-bold {
  color: #001F4D;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}
.event2-con1-orange {
  color: #fb8c00;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
}
.event2-con1-orange-text {
  color: rgb(7, 7, 85);
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
}
.event2-con1-gray {
  color: gray;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
}
.event2-con1-gray-1 {
  color: gray;
  font-size: 1rem;
  font-weight: 400;
  line-height: 35px;
  text-indent: 50px;
  text-align: center;
}
.event2-con1-blue {
  color: rgb(50, 171, 231);
  font-size: 1rem;
  font-weight: 400;
  line-height: 35px;
  text-indent: 50px;
  text-align: center;
}
.event2-con1-blue:hover {
  color: rgb(42, 143, 194);
  font-size: 1rem;
  font-weight: 400;
  line-height: 35px;
  text-indent: 50px;
}
.event2-con1-normal {
  font-size: 1.2rem;
  text-align: center;
}
.event2-con1-scope {
  width: 100%;
  justify-content: start;
}
.event2-con1-text {
  color: rgb(7, 7, 85);
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: 400;
  font-family: "Belanosima", sans-serif;
}
.event2-con1-ulcon {
  width: 100%;
  font-size: 1.3rem;
  color: #001F4D;
  font-weight: 900;
  display: flex;
  flex-direction: column;
}
.event2-con1-ulcon-ul {
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  width: 100%;
  line-height: 40px;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 400;
  align-items: center;
  justify-content: space-around;
  color: gray;
}
.event2-con1-ulcon-ul li {
  list-style: none;
}
.event2-con1-table {
  width: 100%;
  justify-content: center;
  display: flex;
}
.event2-con1-table table {
  width: 90%;
}
.event2-con1-table table, .event2-con1-table th, .event2-con1-table td {
  border: 1.5px solid gray;
  border-collapse: collapse;
  padding: 15px;
}
.event2-con1-table td {
  text-align: center;
  line-height: 30px;
}

.btn-collection {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.btn-blue {
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  background: rgb(9, 9, 106);
  background: linear-gradient(117deg, rgb(9, 9, 106) 82%, rgb(13, 13, 184) 100%);
  color: #fff;
  font-weight: 900;
  cursor: pointer;
}
.btn-blue:hover {
  background: rgb(13, 13, 184);
  background: linear-gradient(117deg, rgb(13, 13, 184) 0%, rgb(9, 9, 106) 19%);
  color: #edebeb;
}
.btn-blue a {
  font-size: 0.8rem;
  color: #fff;
  font-family: "Belanosima", sans-serif;
}

.line {
  width: 100%;
  height: 1.5px;
  background-color: gray;
}

.event-img {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  border: 2px solid rgb(180, 178, 178);
}

@media (max-width: 1400px) {
  .event2-con1 {
    width: 85%;
  }
}
@media (max-width: 1200px) {
  .event2-con1 {
    width: 95%;
  }
  .event2-con1-ulcon-ul {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .event2-con1-ulcon ul {
    border: 1px solid gray;
    padding: 5px;
  }
}
@media (max-width: 900px) {
  .event2-con1 {
    width: 95%;
  }
  .event2-con1-table table {
    width: 100%;
  }
  .event2-con1-table td {
    text-align: center;
    line-height: 20px;
  }
  .event-img {
    width: 90%;
    height: 350px;
  }
  .btn-collection {
    flex-direction: column;
    row-gap: 20px;
    width: 70%;
  }
}
@media (max-width: 700px) {
  .event2-con1 {
    row-gap: 10px;
    padding: 10px 20px;
  }
  .event2-con1-gray-1 {
    line-height: 20px;
  }
  .event2-con1-ulcon-ul {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    -moz-column-gap: 10px;
         column-gap: 10px;
    line-height: 25px;
  }
  .event2-con1-table th, .event2-con1-table td {
    font-size: 0.7rem;
  }
  .event-img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .event-img {
    width: 100%;
    height: 300px;
  }
  .event2-con1-table td {
    text-align: center;
    line-height: 15px;
  }
  .event2-con1-bold {
    font-size: 1rem;
  }
  .event2-con1-gray {
    font-size: 0.8rem;
  }
  .event2-con1-gray-1 {
    font-size: 0.8rem;
  }
  .event2-con1-normal {
    font-size: 0.7rem;
  }
  .event2-con1-blue {
    font-size: 0.7rem;
  }
  .btn-blue {
    font-size: 0.6rem;
  }
}
@media (max-width: 600px) {
  .event-img {
    width: 100%;
    height: 200px;
  }
  .event2-con1-table td {
    text-align: center;
    line-height: 10px;
    padding: 3px;
  }
}/*# sourceMappingURL=event.css.map */