footer {
  position: relative;
  background-color: #080808;
  width: 100%;
}

a {
  text-decoration: none;
  color: gray;
  font-size: 1.2rem;
}

.footer-con {
  position: relative;
  margin-top: 200px;
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 30px 20px 30px;
}
.footer-con .address-info {
  height: 65%;
  display: flex;
  flex-direction: column;
  font-family: "Belanosima", sans-serif;
  justify-content: center;
}
.footer-con .address-head {
  font-family: "Belanosima", sans-serif;
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}
.footer-con .address-content {
  font-family: "Belanosima", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  line-height: 40px;
  color: gray;
}
.footer-con .address-map {
  height: 100%;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-con .mapouter {
  border-radius: 10px;
  position: relative;
  text-align: right;
  width: 100%;
  height: 350px;
}
.footer-con .gmap_canvas {
  border-radius: 10px;
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 100%;
}
.footer-con .gmap_iframe {
  height: 100% !important;
}
.footer-con .footer-icon {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer-con .f-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: width, height 0.35s ease;
  fill: #fff;
}
.footer-con .f-icon1:hover {
  fill: #395693;
}
.footer-con .f-icon2:hover {
  fill: #00acee;
}
.footer-con .f-icon3:hover {
  fill: #0A66C2;
}
.footer-con .f-icon4:hover {
  fill: #CD201F;
}
.footer-con .f-icon5:hover {
  fill: #4fce5d;
}
.footer-con .f-icon6:hover {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.footer-con .f-icon6 {
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .footer-con .address-map {
    width: 500px;
    height: 350px;
  }
}
@media (max-width: 1000px) {
  .footer-con .footer-icon {
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
    margin-top: 30px;
  }
  .footer-con .address-map {
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .footer-con .address-map {
    width: 90%;
    height: 150px;
  }
  .footer-con .address-head {
    font-family: "Belanosima", sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
  }
  .footer-con .address-content {
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
  }
}

.footer-img {
  width: 150px;
  position: absolute;
  top: -60px;
  left: 10px;
}

.btn-con {
  position: absolute;
  top: 0;
  right: 0;
}
.btn-con button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 20px;
}

@media (max-width: 1000px) {
  .footer-con {
    flex-direction: column;
    justify-content: start;
    row-gap: 10px;
  }
  .footer-con .address-info:nth-child(2) {
    width: 281.28px;
  }
}
@media (max-width: 600px) {
  .footer-img {
    width: 100px;
    position: absolute;
    top: -40px;
  }
  .footer-con {
    padding: 50px 30px 20px 30px;
    margin-top: 100px;
  }
  .footer-con .address-info:nth-child(2) {
    width: 246.13px;
  }
}
@media (max-width: 430px) {
  .footer-img {
    width: 80px;
    position: absolute;
    top: -30px;
  }
}/*# sourceMappingURL=footer.css.map */