@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  max-width: 100%;
}

.header-img {
  height: 70px;
}

.iete-obb {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 300px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 10px;
  z-index: 9999;
}

.traiangle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top: 1px solid white;
  border-right: 1px solid gray;
  right: 10%;
  bottom: -43%;
  overflow: hidden;
  box-sizing: content-box;
}

.traiangle1 {
  position: absolute;
  width: 200%;
  height: 200%;
  background-color: white;
  left: 41%;
  bottom: 0;
  transform: rotate(45deg);
  border: 1px solid gray;
  border-left: none;
}

.home-svg {
  margin-top: 80px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: transparent;
  opacity: 1;
  padding: 5px 20px 0px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
}

.toggle-btn {
  fill: #001F4D;
}

.navbar.hide {
  top: -100px;
  opacity: 0;
  background-color: #fff;
}

.navbar.top {
  background-color: #fff;
}

.navbar nav ul {
  list-style-type: none;
}

.navbar nav ul li {
  position: relative;
  float: left;
}

.navbar nav ul li a {
  padding: 10px 15px;
  display: block;
  color: rgb(13, 12, 12);
  font-family: "Belanosima", sans-serif;
  font-weight: 700;
  font-size: 18px;
  border-bottom: 1px solid transparent;
  border-radius: 30px;
  text-transform: capitalize;
}

.navbar nav ul li ul {
  display: none;
  position: absolute;
  background: #001F4D;
  border-radius: 10px;
  z-index: 999;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  left: 0;
  padding: 0 10px;
  width: 150px;
  border-radius: 10px;
}

.navbar nav ul li ul li {
  width: 100%;
}

.navbar nav ul li ul li a {
  color: #fff;
}

.navbar nav ul li:focus-within > ul,
.navbar nav ul li:hover > ul {
  display: initial;
}

#menu-bar {
  display: none;
}

.navbar label {
  font-size: 30px;
  cursor: pointer;
  color: #eee;
  display: none;
}

@media (max-width: 1050px) {
  .navbar {
    padding: 20px;
  }
  #nav {
    display: none;
  }
  .navbar label {
    display: initial;
  }
  .navbar nav {
    position: fixed;
    width: 100%;
    background: white;
    min-height: 100vh;
    top: 100px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .navbar nav ul li {
    width: 100%;
    padding: 5px 0;
  }
  .navbar nav ul li a {
    color: black;
  }
  .navbar nav ul li ul {
    position: relative;
    width: 100%;
  }
  .navbar nav ul li ul li {
    background: #fff;
  }
  .navbar nav ul li ul li a {
    background: #fff;
    color: #012a68;
  }
  .navbar nav ul li ul li ul {
    left: 0;
    width: 100%;
  }
  #menu-bar:checked ~ nav {
    display: initial;
    left: 0;
  }
  .navbar nav ul li ul li .Comitee {
    left: 0;
    width: 200px;
  }
}
@media (max-width: 800px) {
  .header-img {
    height: 50px;
  }
}
@media (max-width: 600px) {
  .header-img {
    height: 40px;
  }
}
@media (max-width: 480px) {
  .navbar nav {
    background-repeat: no-repeat;
    background-size: 450px;
  }
  .navbar nav ul li ul li {
    background: none;
  }
  .navbar nav ul li a:hover {
    border-bottom: none;
  }
  .navbar nav ul li ul li {
    border-top: none;
  }
  .build-img {
    height: 40px;
  }
}
@media (max-width: 300px) {
  .build-img {
    height: 30px;
  }
  .navbar nav {
    top: 60px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.highlight {
  color: transparent;
  animation: type 0.07s ease-in-out 1 forwards;
}

@keyframes type {
  100% {
    color: #001F4D;
  }
}
.home-main {
  position: absolute;
  top: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.home-main-con {
  display: flex;
  flex-direction: column;
}
.home-main .le-ld {
  font-size: 12rem;
  color: #fb8c00;
  display: flex;
}
.home-main .le-ld-con {
  margin-top: 40px;
}
.home-main .le-ld-text1, .home-main .le-ld-text2 {
  font-size: 4rem;
  color: #001F4D;
}
@media (max-width: 1300px) {
  .home-main .le-ld-text1, .home-main .le-ld-text2 {
    font-size: 3rem;
  }
}
@media (max-width: 1100px) {
  .home-main .le-ld-text1, .home-main .le-ld-text2 {
    font-size: 1.8rem;
  }
}
.home-main-svg {
  width: 35%;
  margin-top: 20px;
}
@media (max-width: 1300px) {
  .home-main .le-ld {
    font-size: 9.5rem;
  }
}
@media (max-width: 1100px) {
  .home-main .le-ld {
    font-size: 7rem;
  }
}
@media (max-width: 900px) {
  .home-main-svg {
    width: 70%;
  }
}

.up-text {
  font-size: 2rem;
  font-weight: 700;
  color: #fb8c00;
  margin-top: 10px;
}

.webinar-text-con {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.webinar-text {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 20px 10px;
}
.webinar-text-date {
  width: 30%;
  font-size: 2rem;
  font-weight: 700;
  color: #001F4D;
  text-align: center;
}
.webinar-text-event {
  font-size: 1.3rem;
}
.webinar-text-event a {
  color: #001F4D;
}
@media (max-width: 1100px) {
  .webinar-text-date {
    font-size: 1.2rem;
  }
  .webinar-text-event {
    font-size: 0.8rem;
  }
}

@media (max-width: 1100px) {
  .up-text {
    font-size: 1.5rem;
  }
  .webinar-text {
    width: 400px;
  }
}
@media (max-width: 900px) {
  .home-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    top: 15vh;
  }
  .webinar-text-event a {
    font-size: 0.8rem;
  }
}
@media (max-width: 450px) {
  .webinar-text {
    width: 90%;
  }
  .home-main-con {
    width: 95%;
  }
}
.homecenter-con {
  width: 100%;
  background-image: url("../../public/img/bacgroung/rainbow-vortex.svg");
  background-repeat: no-repeat;
  background-size: 150% 100%;
  height: 700px;
  margin-top: 300px;
  z-index: -2;
  align-items: center;
  justify-content: center;
  display: flex;
}
.homecenter-con-text {
  width: 40%;
  border-radius: 10px;
  border-radius: 20px;
  background-color: rgba(241, 237, 237, 0.8);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  padding: 20px 40px;
}
.homecenter-con-text-head {
  font-size: 1.5rem;
  font-family: "Belanosima", sans-serif;
  font-weight: 900;
  color: #001F4D;
}
.homecenter-con-text-content {
  font-size: 1rem;
  text-align: right;
  color: rgb(255, 245, 245);
  font-family: "Belanosima", sans-serif;
}
.homecenter-con-text-content1 {
  font-size: 1.5rem;
  margin-top: 50px;
  text-indent: 50px;
  font-family: "Belanosima", sans-serif;
}
.homecenter-con .read-btn {
  padding: 15px 30px;
  position: relative;
  bottom: 0px;
  border: none;
  border-radius: 10px;
  background-color: #512DA8;
  font-weight: 900;
  color: #fff;
  margin-top: 50px;
  font-family: "Belanosima", sans-serif;
}
@media (max-width: 1400px) {
  .homecenter-con-text-head {
    font-size: 1.3rem;
  }
  .homecenter-con-text-content {
    font-size: 0.7rem;
  }
  .homecenter-con-text-content1 {
    font-size: 1.2rem;
  }
}
@media (max-width: 1000px) {
  .homecenter-con-text {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .homecenter-con-text-head {
    font-size: 1rem;
  }
  .homecenter-con-text-content {
    font-size: 0.5rem;
  }
  .homecenter-con-text-content1 {
    font-size: 0.9rem;
  }
  .homecenter-con .read-btn {
    margin-top: 20px;
  }
  .homecenter-con-text-content1 {
    margin-top: 20px;
  }
}
@media (max-width: 350px) {
  .homecenter-con .homecenter-con {
    height: 400px;
    margin-top: 170px;
  }
  .homecenter-con-text-head {
    font-size: 0.7rem;
  }
  .homecenter-con-text-content {
    font-size: 0.3rem;
  }
  .homecenter-con-text-content1 {
    font-size: 0.5rem;
  }
}

@media (max-width: 600px) {
  .homecenter-con {
    height: 400px;
    margin-top: 170px;
  }
}
.program-cards-con {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  -moz-column-gap: 40px;
       column-gap: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  row-gap: 40px;
}

.program-cards {
  width: 350px;
  min-height: 450px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgb(211, 208, 208);
  display: flex;
  flex-direction: column;
  background-color: rgba(27, 27, 228, 0.05);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.program-cards .p-c-img {
  width: 100%;
  height: 200px;
}
.program-cards .p-c-img .explore-images {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.program-cards .program-line {
  width: 100%;
  height: 1.5px;
  background-color: #203970;
}
.program-cards .p-c-info {
  padding: 20px 10px;
}
.program-cards .p-c-info .info-head {
  font-family: "Belanosima", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #001F4D;
}
.program-cards .p-c-info .info-content {
  font-family: "Ubuntu", sans-serif;
  color: gray;
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
  padding-right: 10px;
  line-height: 25px;
}

.program-cards:hover {
  border: 1px solid #001F4D;
}

@media (max-width: 360px) {
  .program-cards {
    width: 95%;
  }
}
@media (max-width: 1550px) {
  .program-cards-con {
    grid-template-columns: repeat(3, 350px);
  }
  .program-cards:nth-child(4) {
    margin-left: 390px;
  }
}
@media (max-width: 1150px) {
  .program-cards-con {
    grid-template-columns: repeat(2, 350px);
  }
  .program-cards:nth-child(4) {
    margin-left: 0px;
  }
}
@media (max-width: 800px) {
  .program-cards-con {
    grid-template-columns: repeat(1, 350px);
  }
}
@media (max-width: 350px) {
  .program-cards-con {
    grid-template-columns: repeat(1, 90%);
  }
  .program-cards {
    height: 100%;
  }
}
.home-svg {
  z-index: 1;
}

.blue {
  position: absolute;
  top: 20vh;
  background-color: #001F4D;
  height: 80vh;
  width: 100%;
  z-index: -1;
}

.scroll-to-top-button {
  position: fixed;
  top: 91%;
  right: 1%;
  z-index: 99999;
  cursor: pointer;
}
.scroll-to-top-button svg {
  fill: #F50057;
  width: 50px;
  height: 50px;
}

@media (max-width: 1600px) {
  .home-svg {
    height: 60vh;
    width: 100%;
  }
}
@media (max-width: 1300px) {
  .blue {
    top: 35vh;
  }
  .home-svg {
    height: 65vh;
  }
}
@media (max-width: 900px) {
  .blue {
    top: 35vh;
    height: 65vh;
  }
  .home-svg {
    height: 65vh;
  }
  .scroll-to-top-button svg {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 450px) {
  .blue {
    top: 40vh;
    height: 60vh;
  }
  .home-svg {
    height: 70vh;
  }
}/*# sourceMappingURL=home.css.map */