.member-con {
  margin-top: 150px;
  text-align: center;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-text {
  font-family: "Belanosima", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: #001F4D;
}

.content-text {
  color: gray;
  margin-top: 20px;
  width: 60%;
  font-size: 1.2rem;
  line-height: 25px;
}

@media (max-width: 1000px) {
  .head-text {
    font-size: 1.8rem;
  }
  .content-text {
    width: 95%;
  }
}
@media (max-width: 600px) {
  .head-text {
    font-size: 1.5rem;
  }
  .content-text {
    font-size: 1rem;
  }
  .member-con {
    margin-top: 100px;
  }
}
.members-con {
  width: 100%;
  display: flex;
  justify-content: center;
  -moz-column-gap: 150px;
       column-gap: 150px;
  margin-top: 50px;
  position: relative;
}
.members-con .round1 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  top: 0;
  left: 10%;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con .round2 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  bottom: 0;
  left: 50%;
  border: 3px solid blue;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con .round3 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  top: 10%;
  left: 90%;
  border: 3px solid chartreuse;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con .hexagon1 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  top: 30%;
  left: 20%;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con .hexagon2 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  top: 60%;
  left: 80%;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con .heart1 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  top: 100%;
  left: 2%;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con .heart2 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  top: 45%;
  left: 50%;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con .star1 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  top: 100%;
  left: 85%;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con .music {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  top: 85%;
  left: 18%;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con .play {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  bottom: 0;
  left: 50%;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con1 {
  width: 400px;
  min-height: 500px;
  border-radius: 10px;
  padding: 30px 20px;
  text-align: start;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-family: "Belanosima", sans-serif;
  background-color: #00BFA6;
}
.members-con2 {
  width: 400px;
  min-height: 500px;
  border-radius: 10px;
  padding: 30px 20px;
  text-align: start;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-family: "Belanosima", sans-serif;
  background-color: #F50057;
}
.members-con3 {
  width: 400px;
  min-height: 500px;
  border-radius: 10px;
  padding: 30px 20px;
  text-align: start;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-family: "Belanosima", sans-serif;
  background-color: #F9A826;
}
.members-con4 {
  width: 400px;
  min-height: 500px;
  border-radius: 10px;
  padding: 30px 20px;
  text-align: start;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-family: "Belanosima", sans-serif;
  background-color: #53FE57;
}
.members-con-svg {
  width: 500px;
  animation: jump 1s ease infinite alternate;
}
@keyframes jump {
  100% {
    transform: translateY(-25px);
  }
}
.members-con-svg-1 {
  display: none;
}
.members-con .mem-head {
  color: #2F2E41;
  font-size: 1.5rem;
  font-weight: 900;
}
.members-con .mem-con {
  color: #fff;
  font-size: 1.1rem;
  line-height: 40px;
}
.members-con .mem-con1 {
  text-indent: 70px;
  color: #fff;
  font-size: 1.1rem;
  line-height: 40px;
}
.members-con .mem-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.members-con .mem-btn .mem-button {
  background-color: #ECF9F0;
  width: 50px;
  border-radius: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  cursor: pointer;
}
.members-con .mem-btn .mem-button:hover {
  color: #3e3d3d;
}

@media (max-width: 1200px) {
  .members-con {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .members-con-svg {
    width: 400px;
  }
  .members-con1, .members-con2, .members-con3, .members-con4 {
    width: 350px;
    min-height: 450px;
  }
}
@media (max-width: 800px) {
  .members-con {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
  .members-con-svg-1 {
    display: block;
  }
  .members-con-svg-2 {
    display: none;
  }
}
@media (max-width: 500px) {
  .members-con1, .members-con2, .members-con3, .members-con4, .members-con-svg {
    width: 90%;
  }
}/*# sourceMappingURL=members.css.map */