@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  min-height: 100vh;
  max-width: 100%;
}

.header-img {
  height: 70px;
}

.iete-obb {
  position: absolute;
  top: 80px;
  left: 5%;
  width: 300px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 10px;
}

.home-svg {
  margin-top: 80px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: transparent;
  opacity: 1;
  padding: 5px 20px 0px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
}

.toggle-btn {
  fill: #001F4D;
}

.navbar.hide {
  top: -100px;
  opacity: 0;
  background-color: #fff;
}

.navbar.top {
  background-color: #fff;
}

.navbar nav ul {
  list-style-type: none;
}

.navbar nav ul li {
  position: relative;
  float: left;
}

.navbar nav ul li a {
  padding: 10px 15px;
  display: block;
  color: rgb(13, 12, 12);
  font-family: "Belanosima", sans-serif;
  font-weight: 700;
  font-size: 18px;
  border-bottom: 1px solid transparent;
  border-radius: 30px;
  text-transform: capitalize;
}

.navbar nav ul li ul {
  display: none;
  position: absolute;
  background: #001F4D;
  border-radius: 10px;
  z-index: 999;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  left: 0;
  padding: 0 10px;
  width: 150px;
  border-radius: 10px;
}

.navbar nav ul li ul li {
  width: 100%;
}

.navbar nav ul li ul li a {
  color: #fff;
}

.navbar nav ul li:focus-within > ul,
.navbar nav ul li:hover > ul {
  display: initial;
}

#menu-bar {
  display: none;
}

.navbar label {
  font-size: 30px;
  cursor: pointer;
  color: #eee;
  display: none;
}

@media (max-width: 1000px) {
  .navbar {
    padding: 20px;
  }
  #nav {
    display: none;
  }
  .navbar label {
    display: initial;
  }
  .navbar nav {
    position: fixed;
    width: 100%;
    background: white;
    min-height: 100vh;
    top: 100px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .navbar nav ul li {
    width: 100%;
    padding: 5px 0;
  }
  .navbar nav ul li a {
    color: black;
  }
  .navbar nav ul li ul {
    position: relative;
    width: 100%;
  }
  .navbar nav ul li ul li {
    background: #fff;
  }
  .navbar nav ul li ul li a {
    background: #fff;
    color: #012a68;
  }
  .navbar nav ul li ul li ul {
    left: 0;
    width: 100%;
  }
  #menu-bar:checked ~ nav {
    display: initial;
    left: 0;
  }
  .navbar nav ul li ul li .Comitee {
    left: 0;
    width: 200px;
  }
}
@media (max-width: 800px) {
  .header-img {
    height: 50px;
  }
}
@media (max-width: 600px) {
  .header-img {
    height: 40px;
  }
}
@media (max-width: 480px) {
  .navbar nav {
    background-repeat: no-repeat;
    background-size: 450px;
  }
  .navbar nav ul li ul li {
    background: none;
  }
  .navbar nav ul li a:hover {
    border-bottom: none;
  }
  .navbar nav ul li ul li {
    border-top: none;
  }
  .build-img {
    height: 40px;
  }
}
@media (max-width: 300px) {
  .build-img {
    height: 30px;
  }
  .navbar nav {
    top: 60px;
  }
}
.member-con {
  margin-top: 150px;
  text-align: center;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-text {
  font-family: "Belanosima", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: #001F4D;
}

.content-text {
  color: gray;
  margin-top: 20px;
  width: 60%;
  font-size: 1.2rem;
  line-height: 25px;
}

@media (max-width: 1000px) {
  .head-text {
    font-size: 1.8rem;
  }
  .content-text {
    width: 95%;
  }
}
@media (max-width: 600px) {
  .head-text {
    font-size: 1.5rem;
  }
  .content-text {
    font-size: 1rem;
  }
  .member-con {
    margin-top: 100px;
  }
}
.members-con {
  width: 100%;
  display: flex;
  justify-content: center;
  -moz-column-gap: 150px;
       column-gap: 150px;
  margin-top: 50px;
  position: relative;
}
.members-con .round1 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  top: 0;
  left: 10%;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con .round2 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  bottom: 0;
  left: 50%;
  border: 3px solid blue;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con .round3 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  top: 10%;
  left: 90%;
  border: 3px solid chartreuse;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con .hexagon1 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  top: 30%;
  left: 20%;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con .hexagon2 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  top: 60%;
  left: 80%;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con .heart1 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  top: 100%;
  left: 2%;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con .heart2 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  top: 45%;
  left: 50%;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con .star1 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  top: 100%;
  left: 85%;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con .music {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  top: 85%;
  left: 18%;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con .play {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  bottom: 0;
  left: 50%;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.members-con1 {
  width: 400px;
  min-height: 500px;
  border-radius: 10px;
  padding: 30px 20px;
  text-align: start;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-family: "Belanosima", sans-serif;
  background-color: #00BFA6;
}
.members-con2 {
  width: 400px;
  min-height: 500px;
  border-radius: 10px;
  padding: 30px 20px;
  text-align: start;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-family: "Belanosima", sans-serif;
  background-color: #F50057;
}
.members-con3 {
  width: 400px;
  min-height: 500px;
  border-radius: 10px;
  padding: 30px 20px;
  text-align: start;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-family: "Belanosima", sans-serif;
  background-color: #F9A826;
}
.members-con4 {
  width: 400px;
  min-height: 500px;
  border-radius: 10px;
  padding: 30px 20px;
  text-align: start;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-family: "Belanosima", sans-serif;
  background-color: #53FE57;
}
.members-con-svg {
  width: 500px;
  animation: jump 1s ease infinite alternate;
}
@keyframes jump {
  100% {
    transform: translateY(-25px);
  }
}
.members-con-svg-1 {
  display: none;
}
.members-con .mem-head {
  color: #2F2E41;
  font-size: 1.5rem;
  font-weight: 900;
}
.members-con .mem-con {
  color: #fff;
  font-size: 1.1rem;
  line-height: 40px;
}
.members-con .mem-con1 {
  text-indent: 70px;
  color: #fff;
  font-size: 1.1rem;
  line-height: 40px;
}
.members-con .mem-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.members-con .mem-btn .mem-button {
  background-color: #ECF9F0;
  width: 50px;
  border-radius: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  cursor: pointer;
}
.members-con .mem-btn .mem-button:hover {
  color: #3e3d3d;
}

@media (max-width: 1200px) {
  .members-con {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .members-con-svg {
    width: 400px;
  }
  .members-con1, .members-con2, .members-con3, .members-con4 {
    width: 350px;
    min-height: 450px;
  }
}
@media (max-width: 800px) {
  .members-con {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
  .members-con-svg-1 {
    display: block;
  }
  .members-con-svg-2 {
    display: none;
  }
}
@media (max-width: 500px) {
  .members-con1, .members-con2, .members-con3, .members-con4, .members-con-svg {
    width: 90%;
  }
}/*# sourceMappingURL=members.css.map */