@use '../abstract/color' as *;
.about-center{
    width: 100%;
    display: flex;
    padding: 100px 40px;
    justify-content: center;
    column-gap: 50px;
    line-height: 40px;
    &-1{
        width: 30%;
    }
    &-2{
       width: 30%;
    }
    h2{
        font-family: $primary-text;
        color: $primary-text-color;
        font-size: 2rem;
    }
    &-c{
        font-size: 1.2rem;
        text-indent: 50px;
        color: gray;
    }
    span{
        color: black;
        font-family: $primary-text;
        font-weight: 900;
    }
    
}
@media (max-width:1400px) {
    .about-center{
        &-1{
            width: 45%;
        }
        &-2{
            width: 45%;;
        }
    }
}
@media (max-width:900px) {
    .about-center{
     flex-direction: column;
     align-items: center;
      &-1{
        width: 95%;
      }
      &-2{
        width: 95%;
      }
      &-c{
        text-indent: 20px;
        text-align: justify;
        line-height: 22px;
      }
    }
}
@media (max-width:600px) {
    .about-center{
     line-height: 25px;
     h2{
        font-size: 1.2rem;
    }
    &-c{
        font-size: 0.8rem;
    }
    }
    
}
