@use "../abstract/color" as *;
footer{
    position: relative;
    background-color: #080808;
    width: 100%;
}
a{
    text-decoration: none;
    color: gray;
    font-size: 1.2rem;
}
.footer-con{
    position: relative;
    margin-top: 200px;
    display: flex;
    column-gap: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px 30px 20px 30px;
    .address-info{
        height: 65%;
        display: flex;
        flex-direction: column;
        font-family: $primary-text;
        justify-content: center;
    }
    .address-head{
        font-family: $primary-text;
        font-size: 24px;
        color: #fff;
        font-weight: 600;
    }
    .address-content{
        font-family: $primary-text;
        font-weight: 400;
        margin-top: 20px;
        line-height: 40px;
        color: gray;
    }
    .address-map{
        height: 100%;
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .mapouter{
        border-radius: 10px;
        position:relative;
        text-align:right;
        width:100%;
        height:350px;
    }
    .gmap_canvas{
        border-radius: 10px;
        overflow:hidden;
        background:none!important;
        width:100%;
        height:100%;
    }
    .gmap_iframe {
        height:100%!important;
    }
    .footer-icon{
        display:flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .f-icon{
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: width,height 0.35s ease ; 
        fill: #fff;

    }
    .f-icon1:hover{
        fill:#395693;
        
    }
    .f-icon2:hover{
        fill:#00acee;
        
    }
    .f-icon3:hover{
        fill: #0A66C2;
        
    }
    .f-icon4:hover{
        fill: #CD201F;
        
    }
    .f-icon5:hover{
        fill: #4fce5d;
        
    }
    .f-icon6:hover{
        background: #d6249f;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
     box-shadow: 0px 3px 10px rgba(0,0,0,.25);     
        
    }
    .f-icon6{
        border-radius: 10px;     
        overflow: hidden;
    }
    @media (max-width:1200px) {
        .address-map{
            width: 500px;
            height: 350px;
        }
    }
    @media (max-width:1000px) {
        .footer-icon{
            flex-direction: row;
            column-gap: 20px;
            margin-top: 30px;
        }
        .address-map{
          margin-top: 30px;
        }
    }
    @media (max-width:600px) {
        .address-map{
          width: 90%;
          height: 150px;
        }
        .address-head{
            font-family: $primary-text;
            font-size: 18px;
            color: $primary-text-color;
            font-weight: 600;
        }
        .address-content{
            margin-top: 8px;
            font-size: 14px;
            line-height: 20px;
        }
    }
  
    
}
.footer-img{
    width: 150px;
    position:absolute;
    top: -60px;
    left: 10px;
    
}
.btn-con{
    position: absolute;
    top: 0;
    right:0;
    button{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius:20px;
    }
}
@media (max-width:1000px) {
    .footer-con{
        flex-direction: column;
        justify-content: start;
        .address-info:nth-child(2){
            width: 281.28px;
        }
    }
}
@media (max-width:600px) {
    .footer-img{
        width: 100px;
        position:absolute;
        top: -40px;
        
    }
    .footer-con{
        padding: 50px 30px 20px 30px;
        margin-top: 100px;
        .address-info:nth-child(2){
            width: 246.13px;
        }
    }
   
}
@media (max-width:430px) {
    .footer-img{
        width: 80px;
        position:absolute;
        top: -30px;
        
    }
}